<section class="container ">
    <section style="margin-top: 20px;" class="row  ">    
            {{#each products}}
            <div class="card col-2 " style="width: 18rem; height: 582px; margin: auto 20px 20px auto ;">
                <img style="margin-top: 10px;" src="/product-images/{{this._id}}.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.Name}}</h5>
                    <p class="card-text">{{this.Description}}</p>
                    <p class="card-text">{{this.Price}}</p>
                    <p class="card-text">{{this.Category}}</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            {{/each}}

    </section>

</section>